body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    
    margin: 0;
    background-color: #fff;
    color: #787878;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* --------------- Container --------------- */
.container {
    width: 100%;   
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --------------- Button --------------- */
.btn {
    padding: 23px 46px;
    background-color: #10c9c3;
    text-decoration: none;
    
    letter-spacing: 1px;
    
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 12px;
}

.btn:hover {
    background-color: #13a9a4;
    text-decoration: underline;
}

.btn__more {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #f5f5f5;
    
    text-align: center;
    
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    font-family: "Montserrat";
}

.btn__more:hover {
    text-decoration: underline;
}

/* --------------- Header --------------- */
.header {
    position: absolute;
    width: 100%;
    height: 100px;
    
    top: 0;
    left: 0;
    z-index: 999;
}

.header__inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 44px 0;
}

/* --------------- Nav --------------- */
.nav {
    display: flex;
}

.nav__link {
    margin-left: 25px;
    
    text-transform: uppercase;
    color: #191919;
    text-decoration: none;
    font-size: 12px;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}
.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #10c9c3;
    text-decoration: underline;
}

/* --------------- Intro --------------- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 670px;
    background-color: #e9e9e9;
}

.intro__inner {
    margin-left: auto;
    margin-right: 0;
    max-width: 470px;
}

.intro__title {
    color: #1d1d1d;
    font-family: "Montserrat";
    font-size: 38px;
    line-height: 1.25;
    margin-bottom: 32px;
}

.intro__text {
    font-family: inherit;
    color: #787878;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 37px;
}

/* --------------- About --------------- */
.about {
    background-color: #fff;
    min-height: 426px;
    display: flex;
    justify-content: center;
}

.about__inner {
    width: 600px;
    padding: 90px 0;
    text-align: center;
}

.about__title {
    font-size: 30px;
    line-height: 2;
    color: #191919;
    font-family: "Montserrat";
    
    margin-bottom: 38px;
}

.about__text {
    font-family: inherit;
    color: #787878;
    font-size: 16px;
    line-height: 1.5;
    
    margin-bottom: 38px;
}

/* --------------- Skills --------------- */
.skills {
    background-color: #e9e9e9;
}

.skills__inner {    
    padding: 165px 0;
    width: 50%;
    background-color: #f8f9f9; 
}

.skills__box {
    position: absolute;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.skills__title {
    font-size: 30px;
    line-height: 2.8;
    color: #171717;
    font-family: "Montserrat";
}

.skills__text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #000000;
    font-family: "Montserrat";

    
    border-bottom: 3px inset #d8d8d8;
    min-width: 500px;
    margin-bottom: -3px;
}

.skills__text:last-child {
    margin-bottom: 0;
}

.skills__75 {
    border-bottom: 3px inset #10c9c3;
    width: 75%;
    margin-bottom: 19px;
}

.skills__90 {
    width: 90%;
    border-bottom: 3px inset #10c9c3;
    margin-bottom: 19px;
}

.skills__65 {
    width: 65%;
    border-bottom: 3px inset #10c9c3;
    margin-bottom: 19px;
}

/* --------------- Work --------------- */
.work {
    display: flex;
    
    background-color: #10c9c3;
    padding: 100px 102px 100px 102px;
    
}

.work__item {
    flex: 1 1 0;
    width: 25%;
    position: relative;
    padding-left: 70px;
    padding-right: 35px;
    
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Montserrat";
    letter-spacing: 1px;
}

.work__content {
    width: auto;
    max-width: 180px;
    margin: auto;
}

.work__icon {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0;
    
    width: 40px;
    margin-right: 127px;
}

.work__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.6;
}

.work__text {
    font-size: 12px;
}

/* --------------- Galery --------------- */
.galery {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
}

.galery__item {
    width: 25%;
    max-height: 300px;
    background-color: #dddddd;
    position: relative;
    overflow: hidden;
}

.galery__item:hover {
    background-color: rgb(36, 36, 36);
    opacity: 0.8;
}

.galery__look{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
} 

.galery__item:hover .galery__look {
    opacity: 1;
}

.light {
    background-color: #838383;
}

.galery__more {
    background-color: #f5f5f5;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.galery__more__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* --------------- Process --------------- */
.process__content {
    text-align: center;
}

.process__title {
    margin-top: 100px;
    font-size: 30px;
    line-height: 2;
    color: #191919;
    font-family: "Montserrat";
}

.process__text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 500px;
    
    font-size: 16px;
    line-height: 1.5;
    color: #787878;
    font-family: inherit;
}

.process__video {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #e9e9e9;
}

/* --------------- Process --------------- */
.services {
    background-color: #f5f5f5;
    padding: 70px 0;
}

.services__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -30px;
}

.services__content {
    width: 25%;
    text-align: center;
    margin: 30px 0;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}

.services__icon {
    margin-bottom: 17px;
}

.services__title {
    margin-bottom: 17px;
    
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 2.5;
    text-transform: uppercase;
    color: #191919;
    font-family: "Montserrat";
}

.services__text {
    font-size: 16px;
    line-height: 1.5;
    color: #787878;
    font-family: inherit;
}

/* --------------- Testimonials --------------- */
.testimonials {
    background-color: #10c9c3;
}

.testimonials__content {
    width: 60%;
    text-align: center;
    padding: 178px 0;
    margin-left: auto;
    margin-right: auto;
    
    color: #ffffff;
    font-family: "Montserrat";
}

.testimonials__text {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 35px;
}

.testimonials__author {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 3;
    text-transform: uppercase;
}

/* --------------- Clients --------------- */
.clients {
    padding: 70px 0;
    border-color: inherit;
}

.clients__inner {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -5%;

}

.clients__content {

}

.client__icon {
    max-width: 20%;
    padding: 5%;
}

/* --------------- Contact --------------- */
.contact {
    background-color: #f5f5f5;
    min-height: 200px;
    padding: 100px 0;
}

.contact__inner {
    text-align: center;
}

.contact__text {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.contact__author {
    margin-bottom: 35px;
}

.contact__form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    
    font-size: 15px;
    line-height: 1.5;
    color: #787878;
    font-family: inherit;
}

input[type=text], select, textarea {
    border: none;
    padding-left: 22px;
    margin-bottom: 30px;
    height: 50px;
    
    font-size: 15px;
    line-height: 1.5;
    color: #787878;
    font-family: inherit;
}

.contact__name {
    width: 48%;
    margin-right: 2%;
}

.contact__email {
    width: 48%;
    margin-right: 2%;
    float: right;
}

.contact__title {
    width: 100%;
}

.contact__comment {
    width: 100%;
    min-height: 175px;
    resize: vertical;
}

/* --------------- Contact --------------- */
.footer {
    background-color: #141414;
    padding: 100px 0;
}

.footer__inner {
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    max-width: 20%;
}

.footer__title {
    font-size: 18px;
/*    line-height: 4;*/
    padding-bottom: 36px;
    color: #ffffff;
    font-family: "Montserrat";
}

.footer__text {
    font-size: 15px;
    line-height: 1.6;
    color: #bcbcbc;
    font-family: "Nunito Sans";
    text-align: left;
}














